# fedora-openqa-schedule (both CLI and module) will read configuration from
# /etc/fedora-openqa/schedule.conf or ~/.config/fedora-openqa/schedule.conf
# (with the latter taking priority if both exist). Most of these settings may be
# overridden with CLI arguments, when using the CLI. Values in this sample
# config indicate the defaults.

[cli]
# File to log to (if not set, will log to stdout)
log-file:

# Logging level (debug, info, warning, error, critical)
log-level: info

[report]
# URL of ResultsDB instance to report to
resultsdb_url: http://localhost/resultsdb_api/api/v2.0/

# Hostname of Fedora wiki to report to
wiki_hostname: stg.fedoraproject.org

[schedule]
# Arches to schedule jobs for (comma-separated list), if not set or
# empty, jobs will be scheduled for images of all arches in WANTED
arches: x86_64,aarch64
