# fedora-openqa-schedule (both CLI and module) will read configuration from
# /etc/fedora-qa/schedule.conf or ~/.config/fedora-qa/schedule.conf (with the
# latter taking priority if both exist). Most of these settings may be
# overridden with CLI arguments, when using the CLI. Values in this sample
# config indicate the defaults.

[cli]
# File to log to (if not set, will log to stdout)
log-file:

# Logging level (debug, info, warning, error, critical)
log-level: info

[report]
# Whether to submit results to the Wiki (if false, just log them)
submit: true
