# fedora-openqa-schedule (both CLI and module) will read configuration from
# /etc/fedora-qa/schedule.conf or ~/.config/fedora-qa/schedule.conf (with the
# latter taking priority if both exist). Most of these settings may be
# overridden with CLI arguments, when using the CLI. Values in this sample
# config indicate the defaults.

[cli]
# File to log to (if not set, will log to stdout)
log-file:

# Logging level (debug, info, warning, error, critical)
log-level: info

[report]
# URL of ResultsDB instance to report to
resultsdb_url: http://localhost/resultsdb_api/api/v2.0/

# Hostname of Fedora wiki to report to
wiki_hostname: stg.fedoraproject.org

[consumers]
# Settings in this section affect the behaviour of the Fedmsg consumers
# in consumer.py

# openQA host to query for results (for production reporters) or
# create jobs on (for production scheduler)
prod_oqa_hostname: openqa.fedoraproject.org

# openQA baseurl (for formatting links) for production reporters
prod_oqa_baseurl:

# openQA host to query for results (for staging reporters) or
# create jobs on (for staging scheduler)
stg_oqa_hostname: openqa.stg.fedoraproject.org

# openQA baseurl (for formatting links) for staging reporters
stg_oqa_baseurl:

# openQA host to query for results for test reporters
# NOTE: test scheduler does not respect this, always uses localhost
test_oqa_hostname: openqa.fedoraproject.org

# openQA baseurl (for formatting links) for test reporters
test_oqa_baseurl:

# URL for ResultsDB instance the production reporter should report to
prod_rdb_url: http://resultsdb01.qa.fedoraproject.org/resultsdb_api/api/v2.0/

# Whether the production ResultsDB reporter should actually submit results
prod_rdb_report: false

# URL for ResultsDB instance the staging reporter should report to
stg_rdb_url: http://resultsdb-stg01.qa.fedoraproject.org/resultsdb_api/api/v2.0/

# Whether the staging ResultsDB reporter should actually submit results
stg_rdb_report: false

# URL for ResultsDB instance the test reporter should report to
test_rdb_url: http://localhost:5001/api/v2.0/

# Whether the testing ResultsDB reporter should actually submit results
test_rdb_report: true

# Host name for Mediawiki instance the production reporter should report to
prod_wiki_hostname: fedoraproject.org

# Whether the production wiki reporter should actually submit results
prod_wiki_report: false

# Host name for Mediawiki instance the staging reporter should report to
stg_wiki_hostname: stg.fedoraproject.org

# Whether the staging wiki reporter should actually submit results
stg_wiki_report: false

# Host name for Mediawiki instance the test reporter should report to
test_wiki_hostname: stg.fedoraproject.org

# Whether the test wiki reporter should actually submit results
test_wiki_report: false
